

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;

}
.gallery__item {
    flex: 0 0 30%;
    padding: 1%;
    text-align: center;
    transition: all .5s ease;
}
.gallery__item:hover {
    transform: scale(.8);
    box-shadow: 0px 0px 20px #000;
}
.gallery__item img {
    max-width: 500px;
    width: 100%;
}

#validation-input.valid {
    border-color: #4CAF50;
    box-shadow: 0px 0px 10px 0px rgba(76, 175, 80, .8);
    
}
#validation-input.invalid {
    border-color: #F44336;
    box-shadow: 0px 0px 10px 0px rgba(244, 67, 54, .8);
    
}